<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiwenshare.file.dao.mapper.StorageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiwenshare.file.dao.entity.Storage">
        <id column="storageId" property="storageId" />
        <result column="storageSize" property="storageSize" />
        <result column="userId" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        storageId, storageSize, userId
    </sql>

</mapper>
