<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.file.mapper.FileMapper">

    <insert id="insertFile" parameterType="com.qiwenshare.file.domain.FileBean">
        INSERT ignore INTO file (userId, fileName,timeStampName, fileUrl,
        filePath, extendName, uploadTime, fileSize, isDir)
        VALUES (#{userId}, #{fileName},#{timeStampName},
         #{fileUrl}, #{filePath}, #{extendName}, #{uploadTime},
         #{fileSize}, #{isDir});
    </insert>

    <insert id="batchInsertFile" parameterType="java.util.List">
        INSERT ignore INTO file (userId, fileName,timeStampName, fileUrl,
        filePath, extendName, uploadTime, fileSize, isDir)
        VALUES
        <foreach collection="list" item="file" index="index" separator=",">
        (#{file.userId}, #{file.fileName},#{file.timeStampName},
         #{file.fileUrl}, #{file.filePath}, #{file.extendName}, #{file.uploadTime},
         #{file.fileSize}, #{file.isDir})
        </foreach>
    </insert>

    <update id="updateFile" parameterType="com.qiwenshare.file.domain.FileBean">
        <choose>
            <when test="isDir == 1">
                UPDATE file SET filename=#{fileName}, uploadTime = #{uploadTime}
                where fileId = #{fileId};
                UPDATE file SET filepath=REPLACE(filepath, #{oldFilePath}, #{filePath}) WHERE filepath LIKE N'${oldFilePath}%';
            </when>
            <otherwise>
                update file
                SET fileName = #{fileName}, uploadTime = #{uploadTime}
                where fileId = #{fileId}
            </otherwise>
        </choose>

    </update>


    <update id="updateFilepathByFilepath">
        UPDATE file SET filePath=REPLACE(filePath, #{param1}, #{param2})
        WHERE filePath like N'${param1}%'
    </update>

    <update id="updateFilepathByPathAndName">
        update file set filePath = #{param2}
        where filePath = #{param1} and fileName = #{param3}
         <if test="param4 != null">
         and extendName = #{param4}
         </if>
        <if test="param4 == null">
            and extendName is null
        </if>
    </update>

    <select id="selectFileById" parameterType="com.qiwenshare.file.domain.FileBean" resultType="com.qiwenshare.file.domain.FileBean">
        select * from file
        where fileId = #{fileId}
    </select>

    <select id="selectFileList" parameterType="com.qiwenshare.file.domain.FileBean" resultType="com.qiwenshare.file.domain.FileBean">
        select * from file
        where filePath = #{filePath} and userId = #{userId}
        order by isDir desc, fileName
    </select>

    <select id="selectFileListByIds" resultType="com.qiwenshare.file.domain.FileBean" parameterType="int">
        select * from file where fileId in
        <foreach collection="list" open="(" separator="," close=")" item="fileId">
            #{fileId}
        </foreach>
    </select>

    <select id="selectFileByExtendName" resultType="com.qiwenshare.file.domain.FileBean">
        select * from file
        where extendName in
        <foreach collection="fileNameList" open="(" separator="," close=")" item="extendName">
            #{extendName}
        </foreach>
        and userId = #{userId}
    </select>
    
    <select id="selectFileTreeListLikeFilePath" parameterType="com.qiwenshare.file.domain.FileBean" resultType="com.qiwenshare.file.domain.FileBean">
        select * from file
        where filePath like N'${filePath}%'
    </select>

    <delete id="deleteFileById" parameterType="com.qiwenshare.file.domain.FileBean">
        DELETE FROM file WHERE fileId = #{fileId}
    </delete>

    <delete id="deleteFileByIds" parameterType="int">
        delete from file where fileId in
        <foreach  collection="list" open="(" separator="," close=")" item="fileId">
            #{fileId}
        </foreach>
    </delete>

    <select id="selectFilePathTreeByUserId" parameterType="com.qiwenshare.file.domain.FileBean" resultType="com.qiwenshare.file.domain.FileBean">
        SELECT * FROM file
        WHERE isDir = 1 and userId=#{userId}
    </select>

    <select id="selectFileByNameAndPath" parameterType="com.qiwenshare.file.domain.FileBean"
        resultType="com.qiwenshare.file.domain.FileBean">
        SELECT * FROM file
        WHERE filename = #{fileName} AND filepath = #{filePath}
    </select>
    


<!--    <select id="selectFileByExtendName" resultType="FileBean" parameterType="java.lang.String">-->
<!--        select * from file-->
<!--        where extendName in-->
<!--        <foreach collection="list" separator="," open="(" close=")" item="extendName">-->
<!--            #{extendName}-->
<!--        </foreach>-->
<!--    </select>-->
</mapper>