<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.file.mapper.FiletransferMapper">

    <delete id="deleteUserImageById" parameterType="com.qiwenshare.file.domain.UserImageBean">
        DELETE FROM userimage WHERE imageid = #{imageid}
    </delete>

    <resultMap type="com.qiwenshare.file.domain.UserImageBean" id="imageBeanMap">
        <id property="imageid" column="imageid"/>
        <result property="userid" column="userid"/>
        <result property="imageurl" column="imageurl"/>
    </resultMap>
    <select id="getUserImageListByUserId" parameterType="int" resultMap="imageBeanMap">
        SELECT imageid, userid, imageurl FROM userimage
        where userid = #{userid}
    </select>
    <insert id="insertUserImage" parameterType="com.qiwenshare.file.domain.UserImageBean">
        INSERT INTO userimage (userid, imageurl, uploadtime)
        VALUES (#{userid}, #{imageurl}, #{uploadtime});
    </insert>

    <select id="selectUserImage" parameterType="int" resultType="com.qiwenshare.file.domain.UserImageBean">
        SELECT * FROM userimage where userid = #{userId}
    </select>

    <select id="selectUserImageByUrl" parameterType="String" resultType="com.qiwenshare.file.domain.UserImageBean">
        SELECT * FROM userimage WHERE imageurl =#{imageurl}
    </select>



    <select id="selectStorageBean" resultType="com.qiwenshare.file.domain.StorageBean" parameterType="com.qiwenshare.file.domain.StorageBean">
        select * from storage where userid = #{userid};
    </select>

    <insert id="updateStorageBean" parameterType="com.qiwenshare.file.domain.StorageBean">
        update storage
        set storagesize = #{storagesize}
        where userid = #{userid} and storageid = #{storageid}
    </insert>
    <insert id="insertStorageBean" parameterType="com.qiwenshare.file.domain.StorageBean">
        insert into storage (storageid, userid, storagesize)
        values (#{storageid}, #{userid}, #{storagesize})
    </insert>
    
    <select id="selectStorageByUser" resultType="com.qiwenshare.file.domain.StorageBean" parameterType="com.qiwenshare.file.domain.StorageBean">
        select * from storage where userid=#{userid}
    </select>
</mapper>