<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.file.mapper.UserMapper">

    <resultMap type="com.qiwenshare.file.domain.UserBean" id="userBeanResultMapId">
        <id property="userId" column="userId"/>
        <result property="username" column="username"/>
        <result property="realname" column="realname"/>
        <result property="telephone" column="telephone"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="addrProvince" column="addrProvince"/>
        <result property="addrCity" column="addrCity"/>
        <result property="addrArea" column="addrArea"/>
        <result property="industry" column="industry"/>
        <result property="position" column="position"/>
        <result property="intro" column="intro"/>
        <result property="notReadCount" column="notReadCount"/>
        <result property="imageUrl" column="imageUrl" />
        <collection property="roleList" ofType="com.qiwenshare.file.domain.Role">
            <id property="roleId" column="roleId"/>
            <result property="role" column="role"/>
            <result property="description" column="description"/>
            <result property="available" column="available"/>
            <collection property="permissions" ofType="com.qiwenshare.file.domain.Permission" column="roleId"
                        select="com.qiwenshare.file.mapper.UserMapper.getPermissionByRoleid">
            </collection>
        </collection>
    </resultMap>

    <insert id="insertUser" parameterType="com.qiwenshare.file.domain.UserBean" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (username, salt, PASSWORD, qqPassword, telephone, sex, openId, imageUrl, registerTime)
        VALUES (#{username},#{salt}, #{password}, #{qqPassword}, #{telephone}, #{sex}, #{openId}, #{imageUrl}, #{registerTime});
    </insert>

    <insert id="insertUserRole" parameterType="Long">
        INSERT INTO user_role (userId, roleId)
        VALUES (#{param1}, #{param2});
    </insert>

    <select id="selectUser" parameterType="com.qiwenshare.file.domain.UserBean" resultMap="userBeanResultMapId">
        SELECT *
        FROM user
        WHERE (username=#{username} OR telephone=#{telephone}) AND PASSWORD=#{password};
    </select>

    <select id="selectAdminUserList" resultMap="userBeanResultMapId">
        select * from user_role
        inner join user on user.userId = user_role.userId
        inner join role on role.roleId = user_role.roleId
        where role.role = 'admin'
    </select>


    <select id="getPermissionByRoleid" parameterType="int" resultType="com.qiwenshare.file.domain.Permission">
        select * from permission
        inner join role_permission on role_permission.permissionId = permission.permissionId
        where permission.permissionId = #{roleId}
    </select>

    <select id="selectUserById" resultMap="userBeanResultMapId" parameterType="Long">
        SELECT *
        FROM user
        WHERE user.userId = #{userId}
    </select>

    <select id="selectUserByopenId" resultType="com.qiwenshare.file.domain.UserBean" parameterType="java.lang.String">
        SELECT *
        FROM user
        WHERE user.openId = #{openId}
    </select>

    <select id="selectAllUserList" resultMap="userBeanResultMapId">
        SELECT * FROM user

    </select>

    <delete id="deleteUserInfo" parameterType="com.qiwenshare.file.domain.UserBean">
        delete from user where userId = #{userId}
    </delete>

    <update id="updateUserInfo" parameterType="com.qiwenshare.file.domain.UserBean">
        update user set
        username = #{username},
        realname = #{realname},
        sex = #{sex},
        birthday = #{birthday},
        addrProvince = #{addrProvince},
        addrCity = #{addrCity},
        addrArea = #{addrArea},
        industry = #{industry},
        position = #{position},
        intro = #{intro}
        where userId = #{userId}

    </update>

    <update id="updateEmail" parameterType="com.qiwenshare.file.domain.UserBean">
        update user set
        email = #{email}
        where userId = #{userId}

    </update>
    <update id="updataImageUrl" parameterType="com.qiwenshare.file.domain.UserBean">
        update user set
        imageUrl = #{imageUrl}
        where userId = #{userId}
    </update>

    <select id="selectUserByUserName" parameterType="com.qiwenshare.file.domain.UserBean" resultMap="userBeanResultMapId">
        select * from user
        left join user_role on user_role.userId = user.userId
        left join role on role.roleId = user_role.roleId
        where (username = #{username}) AND openId IS NULL
    </select>

    <select id="selectUserByTelephone" parameterType="com.qiwenshare.file.domain.UserBean"
            resultType="com.qiwenshare.file.domain.UserBean">
        select * from user where telephone = #{telephone}
    </select>



</mapper>