<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.file.mapper.UserFileMapper">

    <update id="replaceFilePath">
        UPDATE userfile SET filepath=REPLACE(filepath, #{oldFilePath}, #{filePath})
        WHERE filepath LIKE N'${oldFilePath}%' and userId = #{userId};
    </update>

    <select id="userFileList" resultType="java.util.Map">
        select * from userfile a
        left join file on file.fileId = a.fileId
        <where>
            <if test="userFile.userId != null">
                and a.userId = #{userFile.userId}
            </if>
            <if test="userFile.filePath != null">
                and a.filePath = #{userFile.filePath}
            </if>
            <if test="userFile.extendName != null">
                and a.extendName = #{userFile.extendName}
            </if>
            and a.deleteFlag = 0
        </where>
        limit #{beginCount}, #{pageCount}

    </select>

    <select id="selectFileByExtendName" parameterType="com.qiwenshare.file.domain.UserFile" resultType="java.util.Map">
        select * from userfile
        left join file on file.fileId = userfile.fileId
        where extendName in
        <foreach collection="fileNameList" open="(" close=")" separator="," item="fileName" >
            #{fileName}
        </foreach>
        and userId = #{userId}
        and deleteFlag = 0
    </select>

    <select id="selectFileNotInExtendNames" parameterType="com.qiwenshare.file.domain.UserFile" resultType="java.util.Map">
        select * from userfile
        left join file on file.fileId = userfile.fileId
        where extendName not in
        <foreach collection="fileNameList" open="(" close=")" separator="," item="fileName" >
            #{fileName}
        </foreach>
        and userId = #{userId}
        and deleteFlag = 0
    </select>


    <update id="updateFilepathByFilepath">
        UPDATE userfile SET filePath=REPLACE(filePath, #{param1}, #{param2})
        WHERE filePath like N'${param1}%'
    </update>

    <update id="updateFilepathByPathAndName">
        update userfile set filePath = #{param2}
        where filePath = #{param1} and fileName = #{param3}
        <if test="param4 != null">
            and extendName = #{param4}
        </if>
        <if test="param4 == null">
            and extendName is null
        </if>
    </update>

    <select id="selectStorageSizeByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT SUM(fileSize) FROM userfile
        LEFT JOIN file ON file.fileId = userfile.fileId
        WHERE userfile.userId = 2
    </select>

</mapper>