<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.file.mapper.FileTypeMapper">

    <select id="selectExtendNameByFileType" parameterType="java.lang.String" resultType="java.lang.String">
        select fileExtendName from fileclassification
        <where>
            <choose>
                <when test="fileTypeId != 5">
                    fileTypeId = #{fileTypeId}
                </when>
                <otherwise>
                    fileTypeId not in (1,2,3,4)
                </otherwise>

            </choose>
        </where>
    </select>

</mapper>