<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiwenshare.file.mapper.NoticeMapper">


    <select id="selectPageVo" parameterType="com.qiwenshare.file.dto.notice.NoticeListDTO"
            resultType="com.qiwenshare.file.domain.Notice">
        select * from notice
        <where>
            <if test="noticeListDTO.platform != null and noticeListDTO.platform != ''">
                and platform = #{noticeListDTO.platform}
            </if>
            <if test="noticeListDTO.publisher != null and noticeListDTO.publisher != ''">
                and publisher = #{noticeListDTO.publisher}
            </if>
            <if test="noticeListDTO.beginTime != null and noticeListDTO.beginTime != ''">
                and createTime &gt;= #{noticeListDTO.beginTime}
            </if>
            <if test="noticeListDTO.endTime != null and noticeListDTO.endTime != ''">
                and createTime &lt;= #{noticeListDTO.endTime}
            </if>
            <if test="noticeListDTO.title != null and noticeListDTO.title != ''">
                and title like '%${noticeListDTO.title}%'
            </if>
        </where>
        order by createTime desc
    </select>

</mapper>